@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

body {
    font-family: "Work Sans", sans-serif;
}

.text-shadow {
    text-shadow: 4px 4px 4px rgba(120, 120, 120, 0.4);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 3px;
}

.custom-btn:hover {
    border-radius: 50px;
    transition: ease-out 1s;
}