{% extends "base.html" %}
{% block content %}

    <div class="col s12 m7">
        {% for post in posts %}
        <h2 class="header center">{{ post.post_name }} {% if post.is_sfw == "no" %}
            <i class="fas fa-exclamation-triangle tooltipped"
                data-position="right" data-tooltip="NSFW"></i>
        {% endif %}  </h2>       
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content"> 
              <p>{{ post.user_opinion }}</p>
            </div>
            <div class="card-action">
              <a href="{{ post.post_source }}">Source</a>
              <p>Category: {{ post.category_name }}</p> 
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    {% endblock %}
