{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align">
                    {{ username }}'s Posts
                </h3>
            </div>
        </div>
    </div>

    <div class="col s12 m7">
        {% for post in posts %}
        <h4 class="header center"><u>{{ post.post_name }}<u></u> {% if post.is_sfw == "no" %}
            <i class="fas fa-exclamation-triangle tooltipped"
                data-position="right" data-tooltip="NSFW"></i>
        {% endif %}  </h4>       
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://lorempixel.com/100/190/nature/6">
          </div>
          <div class="card-stacked">
            <div class="card-content"> 
              <p>{{ post.user_opinion }}</p>
            </div>
            <div class="card-action">
              <p>Category: {{ post.category_name }}</p> 
              <a href="{{ post.post_source }}">Source</a>
              <p><em>by: {{ post.created_by }}</em></p>
              <a href="" class="btn-small light-blue lighten-1">Edit</a>
              <a href="" class="btn-small red accent-4">Delete</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

{% endblock %}